
@charset "UTF-8";
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
textarea.template,div.template{display: none;}
.page-bar{height: 34px;margin: 4px 0 0 0;}
.page-step a{min-width: 20px;padding: 0 2px;width: auto;}
.page-step a.fg-button.ui-button.ui-state-default.ui-state-disabled {background: #FFFFFF;border: 1px solid #B1B5BB;color: #333;}
.dataTables_filter, .dataTables_paginate{float: none;}
.ui-button { -webkit-user-select: none;-moz-user-select: none;outline: none;}
.tcalInput { background:#ffffff url('../../images/cal_32.png') no-repeat 100% 50% ;}
.input, .form-input input.valid_error, .form-input select.valid_error, .form-input textarea.valid_error, .chosen-container-multi, .bootstrap-timepicker-widget table td input.valid_error, .ui-toolbar select.valid_error, .ui-toolbar input.valid_error{border: 1px solid #FF0000;}
input[readonly=true] {background: #EAE5E5;}
.data-rows{ height: 30px; line-height: 30px;}

/*print style*/
.print-paper { font-family: '宋体', Verdana; padding:1.5em 4em 1em; font-size: 17px; line-height: 2em; page-break-after:always; overflow: hidden;}
.print-paper h3 { padding: 0; margin: 0;}
.print-paper p { text-indent: 2em;}
.print-paper .underline { text-decoration: underline;}
.print-paper .print-header { position: relative;}
.print-paper .print-no { height: 2em; text-align: right;}
.print-paper .print-title { height: 2em; text-align: center;}
.print-paper .print-body { position: relative; z-index: 100;}
.print-paper .print-footer { text-align: right; margin-top: 6em;position: relative;}
.print-paper .print-footer div{ z-index: 100; position: relative;}
.print-paper .logo { position: absolute; left: -40px; top: -40px;}
.print-paper .seal { position: absolute; right: 0; bottom: 0; }
.print-paper table { border: 1px solid #000; margin-left: 2em;}
.print-paper table td { padding: 5px 8px;}
.print-paper table thead tr { border-bottom: 1px solid #000; font-weight: bold; }
.print-paper table tbody tr+tr { border-top: 1px solid #000; }
.print-paper table td+td { border-left: 1px solid #000; }

.auto-height { padding-bottom: 100000px !important; margin-bottom: -100000px !important; overflow: hidden !important;}
.pos-rel { position: relative;}

.ms-controller,.ms-important,[ms-controller],[ms-important]{visibility: hidden;}

#notification .dropdown,
#notification .copyright { float:left; display: block;}
#notification .copyright { color: #FFFFFF; line-height: 54px; text-indent: 30px;}