<!-- 到期转投-委托书格式 -->
<div class="print-paper">
    <div class="print-header">
        <!--<img class="logo" src="/images/logo.jpg"/>-->
        <div class="print-title">委 托 书</div>
        <div class="print-no"> 编号（<span class="underline">{$T.number}</span>）</div>
    </div>
    <div class="print-body">
        {#if $T.customer.credentialsType=="营业执照" }
        <!-- 机构 -->
        <p> 委托人：$T.customer.name </p>
        <p> 住所：<span class="underline">{$T.customer.credentialsAddr}</span> </p>
        <p> 法定代表人：<span class="underline">{$T.customer.corporate}</span></p>
        <p> 注册号：<span class="underline">{$T.customer.credentialsNumber}</span> </p>
        {#else}
        <p> 委托人：<span class="underline">{$T.customer.name}</span> </p>
        <p> 身份证号码：<span class="underline">{$T.customer.credentialsNumber}</span> </p>
        <p> 住址：<span class="underline">{$T.customer.credentialsAddr}</span> </p>
        {#/if}
        <br/>
        <p> 受托人：<span class="underline">{$T.fundName}</span> </p>
        <p> 注册地址：：<span class="underline">{$T.funcCompany.address}</span> </p>
        <p> 法定代表人：<span class="underline">{$T.funcCompany.corporate}</span></p>
        <br/>
        <p>鉴于：</p>
        <p> 1、委托人与<span class="underline">{$T.fundName}</span> 签订编号为<span class="underline">{$T.xhtbh}</span> 的合同文件（下称“新协议”），约定委托人作为<span class="underline">{$T.fundName}</span>的有限合伙人，出资人民币<span class="underline">{$T.ztje}</span>元整，投资<span class="underline">{$T.fundName}</span>。</p>
        <p>2、委托人原投资于<span class="underline">{$T.oldArchives.fundName}</span>的投资期限于<span class="underline">{$T.oldArchives.dqrq}</span>到期，投资款人民币<span class="underline">{$T.oldArchives.tzje}</span>元整。 </p>
        <p>委托事项如下：</p>
        <p>现委托人特委托受托人于本委托人投资<span class="underline">{$T.oldArchives.fundName}</span> 的投资期限届满后将本委托人投资款人民币<span class="underline">{$T.ztje}</span> 元整存入上述新协议中指定的<span class="underline">{$T.fundName}</span>募集账户。如由此引起纠纷，由委托人承担一切责任。 </p>
        <br/>
        <p>委托期限：本委托书签订之日起至上述委托事项办理完毕之日止。</p>
        <p>特此授权！</p>
        <br/>
    </div>
    <div class="print-footer">
        <div style="text-align: right;padding-right: 10em">
            {#if $T.customer.credentialsType=="营业执照" }
            <p>委托人（签字并捺印）：</p>
            {#else}
            <p>委托人：  </p>
            <p> 法定（授权）代表人：</p>
            {#/if}
            <p>日期：   年     月   日  </p>
        </div>
        <!--<div><span class="underline">{$.utils.dateFormat(new Date(),"yyyy年MM月dd日")}</div>-->
        <p>受托人同意此委托事项。</p>
        <p>受托人：<span class="underline">{$T.fundName}</span></p>
        <p>负责人：</p>
        <p>日期：  年   月   日</p>
    </div>
</div>
