<!-- 到期转投-委托书格式 -->
<div class="print-paper">
    <div class="print-header">
        <img class="logo" src="/images/logo.jpg"/>

        <div class="print-no"> 编号（<span class="underline">{$T.number}</span>）</div>
        <div class="print-title">委 托 书</div>
    </div>
    <div class="print-body">
        <p> 委托人：$T.customer.name </p>
        {#if $T.customer.credentialsType=="营业执照" }
        <p> 身份证号码：{$T.customer.credentialsNumber} </p>

        <p> 住址：{$T.customer.credentialsAddr} </p>
        {#else}
        <p> 地址：{$T.customer.credentialsAddr} </p>

        <p> 注册号：{$T.customer.credentialsNumber} </p>
        {#/if}
        <p></p>

        <p> 受托人：{$T.fundName} </p>

        <p> 注册地址：：{$T.funcCompany.address} </p>

        <p> 执行事务合伙人：{$T.funcCompany.partner}</p>
        <br/>

        <p>鉴于：</p>

        <p> 1，委托人与{$T.fundName}签订一份《合伙协议》（编号：{$T.htbh}），约定委托人作为{$T.fundName}的有限合伙人，投资<span
                class="bind"
                data-bindtype="list" data-bindobject="project"
                data-member="project.id" data-displaymember="companyName"></span>，参与<span
                class="bind" data-bindtype="list" data-bindobject="project"
                data-member="project.id" data-displaymember="name"></span>的建设。
        </p>

        <p>
            2，委托人原投资<span class="bind" data-bindtype="value"
                          data-member="fundname"></span>的投资期限于 <span class="bind"
                                                                     data-bindtype="value" data-member="dqrq"
                                                                     data-format="localdate">
			</span> 到期，投资款人民币<span class="bind" data-bindtype="value"
                                   data-member="rgje" data-format="upmoney"></span>元整。
        </p>

        <p>委托事项如下：</p>

        <p>
            现委托人特委托受托人于上述款项到期时将本委托人投资款： 人民币 <span
                class="bind" data-bindtype="value" data-member="ztje"
                data-format="upmoney"></span>元整及收益：人民币<span class="bind"
                                                            data-bindtype="value" data-member="tzje"
                                                            data-format="upmoney">xxx</span>元整
            存入《合伙协议》中指定的<span class="bind" data-bindtype="value" data-member="fundname">xxxxx</span>
            的募集账户，以履行该《合伙协议》。如由此引起纠纷，由委托人承担一切责任。
        </p>
        <br/>

        <p class="margin_right">委托人：</p>

        <p class="margin_right">（签字并捺印）</p>

        <p class="margin_right">日期：</p>

        <p>受托人同意此委托事项。</p>

        <p>
            受托人：<span class="bind" data-bindtype="value" data-member="fundName"></span>
        </p>

        <p>负责人：</p>

        <p>日期： 年 月 日</p>

    </div>
</div>
