@CHARSET "UTF-8";

.total-table{
	width: 100%;
	border-collapse: inherit;
	border-spacing: 3px;
}

.total-table td{
	width: 120px;
	height: 70px;
	border: 1px solid #cccccc;
}

.fund-total-item-label{
	margin: 12px 0 0 0;
	padding: 0 0 0 0;
	text-align: center;
}

.fund-total-item-value{
	margin: 12px 0 0 0;
	padding: 0 0 0 0;
	text-align: center;
	color: #ABAB19;
}

.fund-report{
	height: 400px;
	margin: 12px auto 0 auto;
	padding: 0 0 0 0;
	border: 1px solid #cccccc;
}