@CHARSET "UTF-8";

.display-inline{
	display: inline;
}

.tzqx-view{
	width: 450px
}

.width-12-12{
	width: 100%;
	float: left;
}

.width-12-6{
	width: 50%;
	float: left;
}

.mrg6{
	margin: 6px;
}

.mrg6L{
	margin-left: 6px;
}

.mrg6R{
	margin-right: 6px;
}

.form-input select{
	padding-left: 6px;
}

input[type=file] {
	padding: 4px!important;
}

.attachment-div{
	display: inline-block;
	margin-right: 12px;
	margin-bottom: 12px;
	height: 200px;
	width: 245px;
	border: 1px #cccccc solid;
	text-align: center;
}

.attachment-i{
	line-height: 196px;
}

.attachment-img{
	max-height: 190px;
	max-width: 230px;
	vertical-align: middle;
}

.indent-2 {
	text-indent: 2em;
}