@CHARSET "UTF-8";

.status-name{
	width: 60px;
}

.form-label{
	font-size: 12px;
	color: #777777;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tcfpfw-sfbx{
	width: 60px;
}

.user-view{
	width: 90px;
}